__pycache__/
*.py[cod]
*$py.class
env/
venv/
ENV/
env.bak/
.venv/
.idea/
.vscode/
.DS_Store
Thumbs.db
.ipynb_checkpoints
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
*.log
.streamlit/
